# This is an example config file. Please rename this file to .env and fill in your Cookie.
# ---------------------------------------------------------------------
# Format: AccountName=CookieValue
# ---------------------------------------------------------------------
# Get the Cookie From Roblox Websites | F12(Inspect) -> Application -> copy the value of .ROBLOSECURITY and paste it to "Cookie" below

MyAccount = _|WARNING:-DO-NOT-SHARE-THIS.--Sharing-this-will-allow-someone-to-log-in-as-you-and-to-steal-your-ROBUX-and-items.|.......
MyAltAccount = Cookie
